.container{

    width: 100%;
    height: 100%;
    background:#e3f9ff;
    display:flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    background-color: rgb(31, 84, 69);
    padding: 10px;
    border-radius: 10px;

}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60;
    height: 60;
    border-radius: 10px;

    box-shadow: -8px -8px 15px rgba(255,255,255,00.1),5px 5px 15px rgba(0,0,0,00.2);
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor:pointer;
    margin: 10px;

}
form .display{
    display:flex;
    justify-content: flex-end;
     margin: 20px ;
}
form .display{
     text-align: right;
     flex: 1;
     font-size: 45px;
     box-shadow: none;

}
form input.equal{
    width: 90px;
}
form input.operator{
    color: #33ffd8;

}